---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			Annika Stachowiak
		</h1>
		<img src="https://media1.giphy.com/media/OwK8oFeh9C46Y/giphy.gif?cid=ecf05e473uv5cp8lq9fk2e45gollb6bap8bsof1dt0qtqd8z&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="">
	</main>
<style>
	main {
		color: white;
	}
</style>
